In [1]:
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
 # Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [4]:
 engine = create_engine("sqlite:///../Resources/dow.sqlite", echo=False)

In [5]:
engine.execute('SELECT * FROM dow LIMIT 5').fetchall()

[(1, 1, 'AA', '2011-01-07', 15.82, 16.72, 15.78, 16.42, 239655616, None),
 (2, 1, 'AA', '2011-01-14', 16.71, 16.71, 15.64, 15.97, 242963398, None),
 (3, 1, 'AA', '2011-01-21', 16.19, 16.38, 15.6, 15.79, 138428495, None),
 (4, 1, 'AA', '2011-01-28', 15.87, 16.63, 15.82, 16.13, 151379173, None),
 (5, 1, 'AA', '2011-02-04', 16.18, 17.39, 16.18, 17.14, 154387761, None)]

In [6]:
inspector = inspect(engine)
columns = inspector.get_columns('dow')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
quarter INTEGER
stock TEXT
date TEXT
open_price FLOAT
high_price FLOAT
low_price FLOAT
close_price FLOAT
volume INTEGER
percent_change FLOAT

In [8]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Dow = Base.classes.dow

In [9]:
session = Session(engine)

In [16]:
# Query for the stock and average prices (open, high, low, close) 
# for all stock in the month of May
# Sort the result by stock name

sel = [Dow.stock, 
       func.avg(Dow.open_price), 
       func.avg(Dow.high_price), 
       func.avg(Dow.low_price), 
       func.avg(Dow.close_price)]

may_averages = session.query(*sel).\
    filter(func.strftime("%m", Dow.date) == "05").\
    group_by(Dow.stock).\
    order_by(Dow.stock).\
    all()

may_averages

[('AA', 16.8475, 17.3375, 16.4175, 16.747500000000002),
 ('AXP', 49.89750000000001, 51.07, 49.315, 50.5025),
 ('BA', 78.7175, 79.2175, 76.8825, 78.2125),
 ('BAC', 12.0, 12.235, 11.7325, 11.8775),
 ('CAT', 108.5525, 110.5975, 104.045, 106.4),
 ('CSCO', 17.067500000000003, 17.255000000000003, 16.5925, 16.8575),
 ('CVX', 103.9725, 105.72749999999999, 100.4575, 102.76249999999999),
 ('DD', 53.9625, 54.9225, 52.14, 53.21),
 ('DIS', 42.3, 42.8175, 41.11749999999999, 41.900000000000006),
 ('GE', 19.96, 20.175, 19.4875, 19.740000000000002),
 ('HD', 36.765, 37.51, 36.504999999999995, 36.7625),
 ('HPQ', 39.315, 40.14, 37.8425, 38.54),
 ('IBM', 169.7025, 171.58, 166.9375, 169.11749999999998),
 ('INTC', 23.0975, 23.67, 22.652500000000003, 23.0225),
 ('JNJ', 65.6575, 66.8475, 65.0575, 66.08749999999999),
 ('JPM', 44.015, 44.709999999999994, 43.019999999999996, 43.527499999999996),
 ('KO', 67.5775, 68.32499999999999, 66.75750000000001, 67.4725),
 ('KRFT', 34.305, 35.0225, 33.945, 34.7375),
 ('MCD', 79.95750000000001, 81.5525, 79.8025, 80.8475),
 ('MMM', 95.17750000000001, 96.20750000000001, 93.2425, 94.66),
 ('MRK', 36.57, 37.184999999999995, 36.21, 36.685),
 ('MSFT', 25.2275, 25.5775, 24.677500000000002, 25.0375),
 ('PFE', 20.75, 21.1125, 20.3875, 20.7725),
 ('PG', 65.9075, 67.1825, 65.49249999999999, 66.4225),
 ('T', 31.28, 31.7, 30.974999999999998, 31.32),
 ('TRV', 62.7625, 63.3425, 61.879999999999995, 62.3825),
 ('UTX', 88.445, 89.20500000000001, 86.50249999999998, 88.005),
 ('VZ', 37.405, 37.6125, 36.7225, 37.09),
 ('WMT', 55.14, 55.9475, 54.237500000000004, 55.182500000000005),
 ('XOM', 82.8875, 84.27499999999999, 80.16999999999999, 81.94)]

In [ ]:
# Plot the Results in a Matplotlib bar chart
# YOUR CODE HERE

In [ ]:
 Bonus
Calculate the high-low peak-to-peak (PTP) values for IBM stock after 2011-05-31. 
Note: high-low PTP is calculated using high_price - low_price
Use a DateTime.date object in the query filter
Use a list comprehension or numpy's ravel method to unpack the query's list of tuples into a list of PTP values.
Use matplotlib to plot the PTP values as a boxplot

In [ ]:
 # Design a query to calculate the PTP for stock `IBM` after May, 2011
# YOUR CODE HERE
ptps

In [ ]:
 # Load the query into a dataframe, set the index to the date, and plot the ptps
# YOUR CODE HERE