# PyCity

In [1]:
#import dependancies 
import pandas as pd
import numpy as np

In [2]:
#open csv file
students_csvPath = "Resources/Students.csv"
schools_csvPath = "Resources/Schools.csv"

In [3]:
#reading csv
students_df = pd.read_csv(students_csvPath)
schools_df = pd.read_csv(schools_csvPath)

In [4]:
#merging CSV
df = pd.merge(students_df, schools_df, how = "inner", on=["school_name"])

In [5]:
# Calculate the total number of schools
schoolName = df["school_name"].unique()
schoolCount = len(schoolName)

In [6]:
# Calculate the total number of students
studentUnique = df["Student ID"].unique()
studentCount = (len(studentUnique))

In [7]:
#extracting individual budget from student CSV
schoolBudget = schools_df.set_index(['school_name'])['budget']

In [8]:
# # Calculate the total budget
budgetTotal = schools_df["budget"].sum()

In [9]:
#Average READING scores (ALL STUDENTS)
meanRead = df["reading_score"].mean()

In [10]:
# Average MATH scores (ALL STUDENTS)
meanMath = df["math_score"].mean()

In [11]:
#number of students who passed math TOTAL
passMath = (df["math_score"]>=70).sum()

In [12]:
# number of students who passed reading TOTAL
passRead = (df["reading_score"]>=70).sum()

In [13]:
# number of students who passed both math AND reading
passBoth = df[(df["math_score"]>=70) & (df["reading_score"]>=70)].count()["Student ID"]

In [14]:
#overall % of students who passed math
pcntMath = passMath/studentCount

In [15]:
# overall % of students who passed reading
pcntRead = passRead/studentCount

In [16]:
# overall % of students who passed both
pcntBoth = passBoth/studentCount

# District Summary

In [17]:
# Creating DataFrame - district summary 
distSumm = pd.DataFrame(data={"Total Schools":[schoolCount], 
                      "Total Students": [studentCount],
                       "Total Budget": [budgetTotal],
                      "Average Math Score":[meanMath],
                      "Average Reading Score":[meanRead],
                      "% Passing Math":[pcntMath],
                      "% Passing Reading":[pcntRead],
                      "% Passing Overall":[pcntBoth]})
distSumm2 = distSumm.style.format({
                        "Total Students":"{:,}",
                        "Total Budget": "${:,.2f}", 
                       "% Passing Math":"{:.2%}", 
                       "% Passing Reading":"{:.2%}",
                       "% Passing Overall":"{:.2%}"})
  
distSumm2

In [18]:
# classifying school type
schoolType = schools_df.set_index(['school_name'])['type']
schoolType

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [19]:
# finding the number of students per school
StuPerSchool = df["school_name"].value_counts()
StuPerSchool

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [20]:
# #Group the schools
groupSchools = df.groupby("school_name")

In [21]:
#Calculate budget per studnet
budgetPerStu = schoolBudget/StuPerSchool

In [22]:
# # Calculate the average math score
meanMath = groupSchools["math_score"].mean()

In [23]:
# # Calculate the average reading score for each school
meanRead = groupSchools["reading_score"].mean()
meanRead

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
# calculate the % of students that passed math
passMath2 = df[df["math_score"]>=70]
passGroup_M = passMath2.groupby(["school_name"]).count()["Student ID"]/StuPerSchool

In [25]:
#finding the % of students that passed reading
passReading2 = df[df["reading_score"]>=70]
passGroup_R = passReading2.groupby(["school_name"]).count()["Student ID"]/StuPerSchool

In [26]:
#find the % of students that passed both math and reading  
passBoth2 = df[(df["math_score"]>=70) & (df["reading_score"]>=70)]
passGroup_B = passBoth2.groupby(["school_name"]).count()["Student ID"]/StuPerSchool

# School Summary

In [27]:
# create dataframe summerizing all schools
passGroupDF = pd.DataFrame({"School Type":schoolType, 
                      " Total Students": StuPerSchool,
                       "Total School Budget": schoolBudget,
                      "Per Student Budget":budgetPerStu,
                      "Average Math Score":meanMath,
                      "Average Reading Score":meanRead,
                       "% Passing Math":passGroup_M,      
                      "% Passing Reading":passGroup_R,
                      "% Overall Passing":passGroup_B
                           })
passGroupDF.index.name = "School Name"


passGroupDF2 = passGroupDF.style.format({"Total Students":"{:,}",
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:,.2f}",
                          "% Passing Math":"{:.2%}", 
                          "% Passing Reading":"{:.2%}",
                          "% Overall Passing":"{:.2%}"})
passGroupDF2

# Top Performing Schools (By % Overall Passing)

In [28]:
# summerize the top 5 schools
descSorted_df = passGroupDF.sort_values("% Overall Passing", ascending = False)
topFive = descSorted_df.head()
topFive2 = topFive.style.format({"Total Students":"{:,}",
                            "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:,.2f}",
                            "% Passing Math":"{:.2%}", 
                          "% Passing Reading":"{:.2%}",
                          "% Overall Passing":"{:.2%}"})
topFive2

# Bottom Performing Schools

In [29]:
# summerize the bottom five schools
ascSorted_df = passGroupDF.sort_values("% Overall Passing", ascending = True)
botFive = ascSorted_df.head(5)
botFive2 = botFive.style.format({"Total Students":"{:,}",
                            "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:,.2f}",
                            "% Passing Math":"{:.2%}", 
                          "% Passing Reading":"{:.2%}",
                          "% Overall Passing":"{:.2%}"})
botFive2

In [30]:
#create series for each grade level

avgNineSeries = df[(df["grade"] == "9th")]
avgTenSeries = df[(df["grade"] == "10th")] 
avgElevenSeries = df[(df["grade"] == "11th")] 
avgTwelveSeries = df[(df["grade"] == "12th")]

In [31]:
#create series for students in grade 9 
groupNine = avgNineSeries.groupby("school_name")
mathMean_Nine = groupNine["math_score"].mean()

In [32]:
#create series for students in grade 10
groupTen = avgTenSeries.groupby("school_name")
mathMean_Ten = groupTen["math_score"].mean()

In [33]:
#create series for students in grade 11 
groupEleven = avgElevenSeries.groupby("school_name")
mathMean_Eleven = groupEleven["math_score"].mean()

In [34]:
#create series for students in grade 12 
groupTwelve = avgTwelveSeries.groupby("school_name")
mathMean_Twelve = groupTwelve["math_score"].mean()

# Math Score by Grade

In [35]:
#Getting average reading score by grade
meanGradeMath = pd.DataFrame({"9th":mathMean_Nine, 
                      "10th": mathMean_Ten,
                       "11th": mathMean_Eleven,
                      "12th":mathMean_Twelve})
meanGradeMath.index.name = "School Name"
meanGradeMath.round(2)

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [36]:
groupNine = avgNineSeries.groupby("school_name")
readingMean_Nine = groupNine["reading_score"].mean()
readingMean_Nine

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [37]:
groupTen = avgTenSeries.groupby("school_name")
readingMean_Ten = groupTen["reading_score"].mean()
readingMean_Ten

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [38]:
groupEleven = avgElevenSeries.groupby("school_name")
readingMean_Eleven = groupEleven["reading_score"].mean()
readingMean_Eleven

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [39]:
groupTwelve = avgTwelveSeries.groupby("school_name")
readingMean_Twelve = groupTwelve["reading_score"].mean()
readingMean_Twelve

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

# Reading Score by Grade

In [40]:
#Getting average reading score by grade
meanGradeReading = pd.DataFrame({"9th":readingMean_Nine, 
                      "10th": readingMean_Ten,
                       "11th": readingMean_Eleven,
                      "12th":readingMean_Twelve})
meanGradeReading.index.name = "School Name"
meanGradeReading.round(2)

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [41]:
schoolspending_df = pd.DataFrame({
                      "Per Student Budget":budgetPerStu,
                      "Average Math Score":meanMath,
                      "Average Reading Score":meanRead,
                      "% Passing Math":passGroup_R,
                      "% Passing Reading":passGroup_M,
                      "% Overall Passing":passGroup_B
                           })
schoolspending2 = schoolspending_df.index.name = "School Name"

In [42]:
budgetBin = [0, 584, 629, 644, 675]
budgetLabel = ["<$584", "$585-629", "$630-644", "$645-675"]
pd.cut(schoolspending_df["Per Student Budget"], budgetBin, labels = budgetLabel)

School Name
Bailey High School       $585-629
Cabrera High School         <$584
Figueroa High School     $630-644
Ford High School         $630-644
Griffin High School      $585-629
Hernandez High School    $645-675
Holden High School          <$584
Huang High School        $645-675
Johnson High School      $645-675
Pena High School         $585-629
Rodriguez High School    $630-644
Shelton High School      $585-629
Thomas High School       $630-644
Wilson High School          <$584
Wright High School          <$584
Name: Per Student Budget, dtype: category
Categories (4, object): [<$584 < $585-629 < $630-644 < $645-675]

In [43]:
schoolspending_df["Spending Ranges (Per Student)"] = pd.cut(schoolspending_df["Per Student Budget"], budgetBin, labels = budgetLabel)

# Scores by School Spending

In [44]:
#evaluating scores based on school budget per student
grouped_schoolspending_df = schoolspending_df.groupby("Spending Ranges (Per Student)")
grouped_spending = grouped_schoolspending_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
grouped_spending["Average Math Score"] = grouped_spending["Average Math Score"].map("{:,.2f}".format)
grouped_spending["Average Reading Score"] = grouped_spending["Average Reading Score"].map("{:,.2f}".format)
grouped_spending2 = grouped_spending.style.format({"% Passing Math":"{:.2%}", 
                        "% Passing Reading":"{:.2%}",
                        "% Overall Passing":"{:.2%}"})
grouped_spending2

In [45]:
schoolsize_df = pd.DataFrame({
                      "Students Per School":StuPerSchool,
                      "Average Math Score":meanMath,
                      "Average Reading Score":meanRead,
                      "% Passing Math":passGroup_M,
                      "% Passing Reading":passGroup_R,
                      "% Overall Passing":passGroup_B
                           })
schoolsize_df.index.name = "School Name"

In [46]:
sizeBin = [0, 1000, 2000, 5000]
sizeLabel = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
pd.cut(schoolsize_df["Students Per School"], sizeBin, labels = sizeLabel)

School Name
Bailey High School        Large (2000-5000)
Cabrera High School      Medium (1000-2000)
Figueroa High School      Large (2000-5000)
Ford High School          Large (2000-5000)
Griffin High School      Medium (1000-2000)
Hernandez High School     Large (2000-5000)
Holden High School            Small (<1000)
Huang High School         Large (2000-5000)
Johnson High School       Large (2000-5000)
Pena High School              Small (<1000)
Rodriguez High School     Large (2000-5000)
Shelton High School      Medium (1000-2000)
Thomas High School       Medium (1000-2000)
Wilson High School        Large (2000-5000)
Wright High School       Medium (1000-2000)
Name: Students Per School, dtype: category
Categories (3, object): [Small (<1000) < Medium (1000-2000) < Large (2000-5000)]

In [47]:
schoolsize_df["School Size"] = pd.cut(schoolsize_df["Students Per School"], sizeBin, labels = sizeLabel)

# Scores by School Size

In [48]:
#evaluating scores based on school size
grouped_schoolsize_df = schoolsize_df.groupby("School Size")
grouped_size = grouped_schoolsize_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
grouped_size["Average Math Score"] = grouped_size["Average Math Score"].map("{:,.2f}".format)
grouped_size["Average Reading Score"] = grouped_size["Average Reading Score"].map("{:,.2f}".format)
grouped_size2 = grouped_size.style.format({"% Passing Math":"{:.2%}", 
                        "% Passing Reading":"{:.2%}",
                        "% Overall Passing":"{:.2%}"})
grouped_size2

In [49]:
schooltype_df = pd.DataFrame({
                      "School Type":schoolType,
                      "Average Math Score":meanMath,
                      "Average Reading Score":meanRead,
                      "% Passing Math":passGroup_R,
                      "% Passing Reading":passGroup_M,
                      "% Overall Passing":passGroup_B
                           })

# Scores by School Type

In [50]:
#evaluating scores based on school type
schooltype_df2 = schooltype_df.groupby("School Type")
grouped_schooltype = schooltype_df2.mean()
grouped_schooltype["Average Math Score"] = grouped_schooltype["Average Math Score"].map("{:,.2f}".format)
grouped_schooltype["Average Reading Score"] = grouped_schooltype["Average Reading Score"].map("{:,.2f}".format)
grouped_schooltype.style.format({"% Passing Math":"{:.2%}", 
                        "% Passing Reading":"{:.2%}",
                        "% Overall Passing":"{:.2%}"})