In [2]:
import pandas as pd
import numpy as np

In [3]:
#uploading csv
students_csvPath = "Students.csv"
schools_csvPath = "Schools.csv"

In [4]:
#reading csv
students_df = pd.read_csv(students_csvPath)
schools_df = pd.read_csv(schools_csvPath)

In [5]:
students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [6]:
schools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [7]:
#merging csv
df = pd.merge(students_df, schools_df, how = "inner", on=["school_name"])
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [12]:
# Calculate the total number of schools
schoolUnique = df["school_name"].unique()
schoolCount = len(schoolUnique)
print(schoolCount)

15

In [9]:
print(schoolUnique)

NameError: name 'schoolUnique' is not defined

In [13]:
# Calculate the total number of students
studentUnique = df["Student ID"].unique()
studentCount = (len(studentUnique))

print(studentCount)

39170

In [14]:
schoolBudget = schools_df.set_index(['school_name'])['budget']
schoolBudget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [15]:
# # Calculate the total budget
budgetTotal = schools_df["budget"].sum()
print(budgetTotal)

24649428

In [16]:
meanRead = df["reading_score"].mean()
meanRead

81.87784018381414

In [18]:
meanMath = df["math_score"].mean()
meanMath

78.98537145774827

In [19]:
passMath = (df["math_score"]>=70).sum()
passMath

29370

In [20]:
passRead = (df["reading_score"]>=70).sum()
passRead

33610

In [21]:
pcntMath = passMath/studentCount
pcntMath

0.749808526933878

In [22]:
pcntRead = passRead/studentCount
pcntRead

0.8580546336482001

In [24]:
passBoth = df[(df["math_score"]>=70) & (df["reading_score"]>=70)].count()["Student ID"]
passBoth

25528

In [25]:
pcntBoth = passBoth/studentCount
pcntBoth

0.6517232575950983

### District Summary

In [26]:
schoolCount

15

In [27]:
distSumm = pd.DataFrame({"Total Schools":[schoolCount], 
                      "Student Count": [studentCount],
                       "District Budget": [budgetTotal],
                      "Average Math Score":[meanMath],
                      "Average Reading Score":[meanRead],
                      "Percent Passed Math":[pcntMath],
                      "Percent Passed Reading":[pcntRead],
                      "Percent Passed Both":[pcntBoth]})
distSumm

,Total Schools,Student Count,District Budget,Average Math Score,Average Reading Score,Percent Passed Math,Percent Passed Reading,Percent Passed Both
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

### School Summary

In [28]:
#Is the school a disctrict or charter school
schoolType = schools_df.set_index(['school_name'])['type']
schoolType

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [34]:
StuPerSchool = df["school_name"].value_counts()
StuPerSchool

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [30]:
# #Group the schools
groupSchools = df.groupby("school_name")

In [31]:
schoolName = groupSchools["school_name"]
schoolName

In [32]:
schoolBudget = groupSchools["budget"]
schoolBudget

In [33]:
totalSchoolBudget = df.groupby("school_name").mean()
perStudentBudget = totalSchoolBudget/schoolCount
perStudentBudget

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,1357.233333,5.402264,5.136562,0.466667,331.733333,208328.533333
Cabrera High School,1129.433333,5.598385,5.537460,0.400000,123.866667,72090.400000
Figueroa High School,292.733333,5.410535,5.114118,0.066667,196.600000,125627.400000
Ford High School,2411.000000,5.383084,5.140173,0.866667,182.600000,117594.400000
Griffin High School,866.366667,5.587784,5.556767,0.266667,97.866667,61166.666667
Hernandez High School,662.933333,5.395627,5.152650,0.200000,309.000000,201468.000000
Holden High School,1537.333333,5.587666,5.586885,0.533333,28.466667,16539.133333
Huang High School,97.200000,5.412181,5.108628,0.000000,194.466667,127375.666667
Johnson High School,2161.000000,5.397760,5.138164,0.800000,317.400000,206310.000000
Pena High School,1583.633333,5.602980,5.589328,0.600000,64.133333,39057.200000
Rodriguez High School,1869.000000,5.382979,5.122847,0.733333,266.600000,169824.200000
Shelton High School,449.733333,5.581715,5.557297,0.133333,117.400000,70440.000000
Thomas High School,2556.800000,5.589929,5.561223,0.933333,109.000000,69542.000000
Wilson High School,991.400000,5.599299,5.551613,0.333333,152.200000,87971.600000
Wright High School,1675.700000,5.597000,5.578815,0.666667,120.000000,69960.000000

In [ ]:
# # Calculate the average math score
meanMath = groupSchools["math_score"].mean()
meanMath

In [ ]:
# # Calculate the average reading score
meanRead = groupSchools["reading_score"].mean()
print(type(meanRead))

In [ ]:
passMath2 = comb_df[comb_df["math_score"]>=70]
passGroup_M = passMath2.groupby(["school_name"]).count()["Student ID"]/schoolCount *100
print(type(passGroup_M))

In [ ]:
passReading2 = comb_df[comb_df["reading_score"]>=70]
passGroup_R = passReading2.groupby(["school_name"]).count()["Student ID"]/schoolCount *100
print(type(passGroup_R))

In [ ]:
passBoth2 = comb_df[(comb_df["math_score"]>=70) & (comb_df["reading_score"]>=70)]
passGroup_B = passBoth2.groupby(["school_name"]).count()["Student ID"]/schoolCount *100
print(type(passGroup_B))

In [ ]:
#pd.DataFrame([[pi,e,phi]],columns=['pi','e','phi'])
passGroupDF = pd.DataFrame({"School Type":[schoolType], 
                      "Students": [studentCount],
                       "Total School Budget": [schoolBudget],
                      "Per Student Budget":[perStudentBudget],
                      "Average Math Score":[meanMath],
                      "Average Reading Score":[meanRead],
                      "% Passing Math":[passGroup_R],
                      "% Passing Reading":[passGroup_M],
                      "% Overall Passing":[passGroup_B]
                           })
passGroupDF

In [ ]:
# df = passGroupDF.rename(columns={'type':'School Type',
#                                  'school_name':'Students',
#                                  'budget':'Total School Budget',
#                                  '0':'Per Student Budget',
#                                  'math_score':'Average Math Score', 
#                                 'reading_score':'Average Reading Score',
#                                 '1':'% Passing Math',
#                                 '2':'% Passing Reading',
#                                 '3':'% Overall Passing'
#                                  })
# df.index.name

In [ ]:
df = passGroupDF.rename(columns={'type':'School Type',
                                 'school_name':'Students',
                                 'budget':'Total School Budget',
                                 0:'Per Student Budget',
                                 'math_score':'Average Math Score', 
                                'reading_score':'Average Reading Score',
                                1:'% Passing Math',
                                2:'% Passing Reading',
                                3:'% Overall Passing'
                                 })
df.index.name = "School Name"
df

### Top Performing Schools (By % Overall Passing)

In [ ]:
descSorted_df = df.sort_values('% Overall Passing', ascending = False)
topFive = descSorted_df.head(5)
topFive

### Bottom Performing Schools

In [ ]:
ascSorted_df = df.sort_values('% Overall Passing', ascending = True)
botFive = ascSorted_df.head(5)
botFive

In [ ]:
# # Calculate the percentage of students with a passing math score (70 or greater)
mathBin = [0, 69.99, 100]
mathLabel = ["No", "Yes"]
comb_df["Passed Math"] = pd.cut(comb_df["math_score"], mathBin, labels = mathLabel)
comb_df.head()

In [ ]:
# # Calculate the percentage of students with a passing reading score (70 or greater)
readBin = [0, 69.99, 100]
readLabel = ["No", "Yes"]
comb_df["Passed Reading"] = pd.cut(comb_df["reading_score"], readBin, labels = readLabel)
comb_df.head()

In [ ]:
# # Create a dataframe to hold the above results
# schoolSumm_df
# # Optional: give the displayed data cleaner formatting
# #clean data